/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/Lab02/nbproject/private/
/Lab01/build/
/Lab02/dist/
/Lab02/build/
/Lab01/nbproject/private/
/Polygon/nbproject/private/
/Polygon/build/
/Mammal/nbproject/private/
/Mammal/build/
/Mammal/dist/
/Polygon/dist/
/Lab03/nbproject/private/
/Lab03/build/
/Lab03/dist/
/Lab04/nbproject/private/
/Lab04/build/
/Lab04/dist/